.vxe-grid {
  margin-bottom: 15px;
}
.toolbar-item {
  font-size: 16px;
  margin: 2px 6px;
  letter-spacing: 3px;
  line-height: 30px;
}
.toolbar-item-right {
  margin-left: auto;
  user-select: none;
  display: flex;
  flex-flow: row nowrap;
  white-space: nowrap;
}
.toolbar-item-right .svgrid-search-bar {
  width: 182px;
  margin: 0 5px;
  background: transparent;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  box-shadow: none;
}
.toolbar-operate-btn {
  margin: 0 3px;
  display: flex;
}
.toolbar-operate-btn .ant-btn {
  margin-right: 3px;
}
.visible-columns {
  display: flex;
  width: 110px;
  flex-direction: column-reverse;
  position: absolute;
  right: 0;
  background-color: rgba(255, 255, 255, 0.637);
}
.visible-columns .ant-checkbox-wrapper {
  margin: 0;
}
.visible-columns .ant-checkbox-wrapper > :not(.ant-checkbox) {
  padding: 0 !important;
}
